.main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  padding-bottom: 100px;
  @media (width < 768px) {
    flex-direction: column;
  }
}

.leftcontainer {
  width: 50%;
  position: relative;
  @media (width < 768px) {
    display: none;
  }
}
.rightcontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  justify-content: center;
  align-items: start;
  width: 50%;
  @media (width < 768px) {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: 30px;
  filter: drop-shadow(7px 5px 7px rgba(85, 187, 187, 0.4));
}

.span {
  color: white;
  -webkit-text-stroke: 1px #55bbbb;
  font-size: 25px;
  font-weight: 200;
  text-align: start;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}
.input {
  height: 40px;
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid #55bbbb;
  padding-left: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  border-radius: 50px;
  @media (width < 768px) {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
  backdrop-filter: blur(20px);
  overflow: hidden;
  @media (width < 768px) {
    width: 100%;
  }
}

.btn {
  background-color: #55bbbb;
  width: 200px;
  padding: 10px 20px 10px 20px;
  &:hover {
    cursor: pointer;
  }
}

.imgdude {
  width: auto;
  position: absolute;
  transform: scale(2);
  left: 20%;
  bottom: 10%;
}

.truck {
  width: auto;
  position: absolute;
  transform: scale(1.3);
  right: 0;
  top: 10%;
  z-index: -10;
  @media (width < 768px) {
    right: -20%;
  }
}

.textarea {
  height: 100px;
  background-color: transparent;
  border-radius: 1px;
  border: 1px solid #55bbbb;
  padding-left: 20px;
}
