.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.servicestitle {
  font-size: 50px;
  filter: drop-shadow(7px 5px 7px rgba(85, 187, 187, 0.4));
  @media (width < 768px) {
    font-size: 30px;
  }
}

.services {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
  @media (width < 768px) {
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
  }
}

.servicecard {
  flex-basis: calc(20% - 20px); /* O cualquier otro valor base deseado */
  max-width: calc(33.33% - 20px);
  min-width: 250px;
  margin: auto;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (width < 768px) {
    min-width: 150px !important;
    height: 200px;
  }
}

.card {
  width: 200px;
  height: 250px;
  padding: 10px;
  box-shadow: 7px 5px 25px rgba(151, 110, 206, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  background: #cfcfcf;
  background: linear-gradient(to top right, #55bbbb 0%, #000000 6%, #000000 94%, #55bbbb 100%);
  @media (width < 768px) {
    width: 150px;
    height: 200px;
    font-size: 10px;
  }
}

.icon {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 10px;
  background: linear-gradient(
    45deg,
    rgba(215, 69, 69, 0.521),
    rgba(63, 138, 63, 0.476),
    rgba(91, 91, 228, 0.493),
    rgba(238, 130, 238, 0.499)
  );
  background-size: 300% 300%; /* Tamaño del gradiente */
  animation: rotateGradient 5s linear infinite; /* Animación para rotar colores */
}

.innerCircle {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: black;
  top: 10%;
  left: 10%;
  transform: translate(-5%, -5%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotateGradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}

.servicios {
  font-weight: 200;
}

.icon1 {
  height: 30px;
  width: 30px;
}

.button1 {
  padding: 4px 8px 4px 8px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}
