.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.servicestitle {
  font-size: 50px;
  filter: drop-shadow(7px 5px 7px rgba(85, 187, 187, 0.4));
  @media (width < 768px) {
    font-size: 30px;
  }
}

.services {
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
  @media (width < 768px) {
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 5px;
  }
}

.servicecard {
  flex-basis: calc(20% - 20px); /* O cualquier otro valor base deseado */
  max-width: calc(33.33% - 20px);
  width: 200px;
  max-width: 200px;
  margin: 10px 0px 10px 0px;
  border: 2.5px white solid;
  margin: auto;
  height: 230px;
  display: flex;
  justify-content: space-around;
  padding: 0px 8px 0px 8px;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media (width < 768px) {
    width: 150px;
    height: 200px;
  }
}

.square {
  background-color: white;
  padding: 2px;
  color: black;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  @media (width < 768px) {
    font-size: 11px;
  }
}

.title {
  display: flex;
  font-size: 16px;
  gap: 5px;
  @media (width < 768px) {
    font-size: 14px;
  }
}
.number {
  color: #55bbbb;
  @media (width < 768px) {
    display: none;
  }
}

.icon {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 10px;
  background-size: 300% 300%; /* Tamaño del gradiente */
  animation: rotateGradient 5s linear infinite; /* Animación para rotar colores */
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #55bbbb;
  font-size: 20px;
}

.innerCircle {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 10%;
  left: 10%;
  transform: translate(-5%, -5%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotateGradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}

.servicios {
  font-weight: 200;
  font-size: 14px;
  @media (width < 768px) {
    font-size: 12px;
  }
}

.icon1 {
  height: 30px;
  width: 30px;
}

.button1 {
  padding: 4px 8px 4px 8px;
  margin-bottom: 10px;
  background-color: #55bbbb;
  border: none;
  padding: 10px 20px 10px 20px;
  &:hover {
    cursor: pointer;
  }
}
