.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.servicestitle {
  font-size: 50px;
}

.services {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  gap: 20px;
}

.servicecard {
  flex: 1 1 calc(20% - 20px);
  max-width: calc(33.33% - 20px);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 200px;
  height: 250px;
  padding: 10px;
  box-shadow: 7px 5px 25px rgba(151, 110, 206, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  background: #cfcfcf;
  background: linear-gradient(to top right, #976ece 0%, #000000 6%, #000000 94%, #976ece 100%);
}

.icon {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 10px;
  background: linear-gradient(45deg, rgba(223, 43, 43, 0.521), rgba(0, 128, 0, 0.476), rgba(0, 0, 255, 0.493), rgba(238, 130, 238, 0.499));
  background-size: 300% 300%; /* Tamaño del gradiente */
  animation: rotateGradient 5s linear infinite; /* Animación para rotar colores */
}

.innerCircle {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: black;
  top: 10%;
  left: 10%;
  transform: translate(-5%, -5%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotateGradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}

.servicios {
  font-weight: 200;
}

.icon1 {
  height: 30px;
  width: 30px;
}

.button1 {
  padding: 4px 8px 4px 8px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
  }
}
