.main {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  @media (width < 768px) {
    width: 100%;
    padding: 50px 0px 100px 0px;
  }
}

.elipse {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -50;
  @media (width < 768px) {
    width: 90%;
    height: auto;
    transform: scale(0.7) translateX(50%);
  }
}

.elipse2 {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translateX(50%) translateY(-50%) scale(0.3) scaleX(-1);
  z-index: -50;
  @media (width < 768px) {
    width: 90%;
    height: auto;
    top: 70%;
    transform: scale(0.7) translateX(50%);
  }
}

.elipse3 {
  position: absolute;
  left: 0;
  top: 80%;
  transform: translateX(-50%) translateY(-50%) scale(0.3) scaleX(-1);
  z-index: -50;
  @media (width < 768px) {
    width: 90%;
    height: auto;
  }
}

.quienessomos {
  display: flex;
  gap: 20px;
  font-size: 60px;
  padding-bottom: 50px;
  filter: drop-shadow(7px 5px 7px rgba(85, 187, 187, 0.4));
  @media (width < 768px) {
    width: 90%;
    text-align: center;
    font-size: 30px;
    justify-content: center;
  }
}

.quienessomostexto {
  width: 50%;
  opacity: 0.8;
  @media (width < 768px) {
    width: 90%;
  }
}

.cardcontainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  gap: 200px;
  @media (width < 768px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.card {
  width: 250px;
  &:hover {
    cursor: pointer;
  }
}
.spantext {
  width: 200px;
  opacity: 0.8;
}

.title {
  font-size: 30px;
  padding-bottom: 20px;
  filter: drop-shadow(7px 5px 7px rgba(85, 187, 187, 0.4));
  color: #55bbbb;
  @media (width < 768px) {
    font: 16px;
  }
}

.somos {
  color: #55bbbb;
}
